.background {
    -fx-background-color: #FFFFFF;
}

/* *************** DB Migrator Page style *************** */
.db-combobox {
	-fx-background-radius: 0.0 0.0 0.0 0.0;
	-fx-border-color: #ffffff;
}

.db-combobox .list-view .list-cell:hover {
	-fx-text-fill: #ffffff;
	-fx-background-color: #237f4e;
}

.db-combobox .cell:selected {
	-fx-text-fill: #ffffff;
	-fx-background-color: #237f4e;
}
/* ***************************************************** */

/* *************** Progress bar style *************** */
.progress-bar > .bar {
    -fx-background-insets: 1.0 1.0 2.0 1.0;
    -fx-padding: 0.2em;
    -fx-accent: #336699;
}
/* *************************************************** */

/* *************** Navigation bar icon *************** */
.label_connectionsload_button {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/DBConn.png);
}

.label_connectionsload_button:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/DBConnhover.png);
}

.label_migration_button {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Migrate.png);
}

.label_migration_button:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Migratehover.png);
}

.label_convert_button {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Convert.png);
}

.label_convert_button:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Converthover.png);
}

.label_generate_button {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Generator.png);
}

.label_generate_button:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Generatorhover.png);
}

.label_datamanager_button {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Manager.png);
}

.label_datamanager_button:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Managerhover.png);
}
/* *************************************************** */

/* *************** Text Field style ********************* */
.text-field {
  -fx-background-radius: 0.0 0.0 0.0 0.0;
}

.text-field:focused {
    -fx-border-color: #237f4e;
}
/* ******************************************************** */

 
 /*********** Next button style *************/
 .label_next_button {
 	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Nextbutton.png);
 }
 
  .label_next_button:hover {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Nextbuttonhover.png);
  }
  /* ********************************* */
  
  /* *************** Back button style *************** */
  .label_back_button {
 	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Backbutton.png);
 }
 
 .label_back_button:hover {
 	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Backbuttonhover.png);
 }
  /* ************************************************* */
  
  /* *************** Test connection button style *************** */
  .button_testconnection_button {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Testconnectionbutton.png);
  }
  
  .button_testconnection_button:hover {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Testconnectionhoverbutton.png);
  }
  /* ************************************************************ */
  
  /* *************** Finish button style *************** */
  .button_finish_button {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Finishbutton.png);
  }
  
  .button_finish_button:hover {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Finishbuttonhover.png);
  }
  /* *************************************************** */

/* *************** Connection add button style *************** */
.label_AddConnection {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/connection_add.png);
}

.label_AddConnection:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/connection_add_hover.png);
}
/* *********************************************************** */

/* *************** Setting connection button style *************** */
.label_settingConnection {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/connection_setting.png);
}

.label_settingConnection:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/connection_setting_hover.png);
}
/* *************************************************************** */

/* ****************** Tab pane style ***************** */
.tab-pane
{
    -fx-tab-min-width:90.0px;
    -fx-tab-min-height:30.0px;
    -fx-background-color: #FFFFFF;
}

.tab{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
}
.tab-pane .tab
{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#237f4e 0.0%, #1f7246 20.0%, #388b5f 100.0%),
        linear-gradient(#237f4e, #388b5f),
        radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(17.0,63.0,39.0), rgba(28.0,101.0,62.0));

}

.tab-pane .tab:selected
{
    -fx-background-color: #65A583;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow( one-pass-box , rgba(0.0,0.0,0.0,0.9) , 1.0, 0.0 , 0.0 , 1.0 );
}
/* *************************************************** */

/* ****************** Add query parameters style ***************** */
.button_addparameters_button {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Addparametersbutton.png);
}

.button_addparameters_button:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Addparametersbuttonhover.png);
}
/* ************************************************************** */

/* ****************** Show query button style ***************** */
.button_showquery_button {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Showquerybutton.png);
}

.button_showquery_button:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Showquerybuttonhover.png);
}
/* ************************************************************ */

/* ************** Update button style ************** */
.button_update {
	-fx-pref-width:190.0;
	-fx-pref-height:40.0;
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Updatebutton.png);
}

.button_update:hover {
	-fx-pref-width:190.0;
	-fx-pref-height:40.0;
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Updatebuttonhover.png);
}
/* ************************************************* */

/* ************** Convert button style ************** */
.button_convert {
	-fx-pref-width:190.0;
	-fx-pref-height:40.0;
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Convertbutton.png);
}

.button_convert:hover {
	-fx-pref-width:190.0;
	-fx-pref-height:40.0;
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Convertbuttonhover.png);
}
/* ************************************************** */

/* ************** Tree view style ************** */
.tree-cell:selected {
    -fx-font-weight: bold ;
}
.tree-view, .tree-cell {
    -fx-background-color: #E8E8E8;
    -fx-text-fill: #000000;
    -fx-border-color: #ffffff;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #D0D0D0;
}
.tree-cell:selected {
    -fx-font-weight: bold;
    -fx-border-color: #ffffff;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}
/* ********************************************* */

/* ************** Menu style ************** */
.menu-bar{
	-fx-background-color: #FFFFFF;
	-fx-selection-bar: derive(-fx-background,-7%);
}

.menu {
	-fx-background-color: #FFFFFF;
	-fx-border-width: 1 1 0 1; -fx-border-color: #237f4e;
	-fx-focus-color:#237f4e;
}

.menu:hover, .menu:filled {
	-fx-background-color: #237f4e;
	-fx-text-fill: #ffffff;
}

.menu-item:hover {
     -fx-background-color: #237f4e;
}
/*.menu-button, .menu-button .menu-item, .menu-button .context-menu {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #4D359C;
    -fx-font-size: 12.0px;
}
 .menu-button .menu-item .label:hover {
    -fx-text-fill: #4D359C;
}
 .menu-item .label {
    -fx-text-fill: #4D359C;
}*/
/*.menu-button > .arrow-button {
    -fx-background-color: white, #28559c ;
    -fx-background-insets: 1, 3 ;
    -fx-background-radius: 16, 16 ;
    -fx-padding: 8 ;

}*/
/*.menu-button > .arrow-button > .arrow {
    -fx-background-color: white ;
    -fx-background-insets: 0, 2 ;
    -fx-background-radius: 12, 12 ;
    -fx-padding: 8 ; 
    -fx-shape: "M0 6 l-6 -6 l0 -2 l6 -6 l2 0 l-6 6 l12 0 l0 2 l-12 0 l6 6 z";

}*/
/* **************************************** */

/* ********** Main Window Page style *********** */
.mysql_connectivity {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/MySQL_Connectivity.jpg);
}

.mongo_connectivity {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Mongo_Connectivity.jpg);
}

.internet_connectivity {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Internet_Connectivity.jpg);
}

.NNetwork_connectivity {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/NNetwork_Connectivity.jpg);
}
/* ********************************************* */

.label_Connections {
	-fx-font-size: 20.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-label-padding : 0.0 0.0 0.0 20.0px;
    -fx-text-fill: #ffffff;
}

.dark-blue {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#308014 0.0%, #308014 20.0%, #308014 100.0%),
        linear-gradient(#308014, #308014);
    -fx-background-radius: 5.0,4.0,3.0,5.0;
    -fx-background-insets: 0.0,1.0,2.0,0.0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12.0px;
    -fx-padding: 10.0 20.0 10.0 20.0;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0.0,0.0,0.0,0.9) , 1.0, 0.0 , 0.0 , 1.0 );
}