.background {
    -fx-background-color: #FFFFFF;
}

.progress-bar > .bar {
    -fx-background-insets: 1.0 1.0 2.0 1.0;
    -fx-padding: 0.2em;
    -fx-accent: #336699;
}

/* *************** Text Field style ********************* */
.text-field {
  -fx-background-radius: 0.0 0.0 0.0 0.0;
}

.text-field:focused {
    -fx-border-color: #237f4e;
}
/* ******************************************************** */

 
 /*********** Next button style *************/
 .label_next_button {
 	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Nextbutton.png);
 }
 
  .label_next_button:hover {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Nextbuttonhover.png);
  }
  /* ********************************* */
  
  /* *************** Back button style *************** */
  .label_back_button {
 	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Backbutton.png);
 }
 
 .label_back_button:hover {
 	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Backbuttonhover.png);
 }
  /* ************************************************* */
  
  /* *************** Test connection button style *************** */
  .button_testconnection_button {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Testconnectionbutton.png);
  }
  
  .button_testconnection_button:hover {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Testconnectionhoverbutton.png);
  }
  /* ************************************************************ */
  
  /* *************** Finish button style *************** */
  .button_finish_button {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Finishbutton.png);
  }
  
  .button_finish_button:hover {
  	-fx-background-image:url(/org/migdb/migdbclient/resources/images/Finishbuttonhover.png);
  }
  /* *************************************************** */

.label_Connections {
	-fx-font-size: 20.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-label-padding : 0.0 0.0 0.0 20.0px;
}

.label_AddConnection {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/connection_add.png);
}

.label_AddConnection:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/connection_add_hover.png);
}

.label_settingConnection {
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/connection_setting.png);
}

.label_settingConnection:hover {
	-fx-background-image:url(/org/migdb/migdbclient/resources/images/connection_setting_hover.png);
}

.dark-blue {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#308014 0.0%, #308014 20.0%, #308014 100.0%),
        linear-gradient(#308014, #308014);
    -fx-background-radius: 5.0,4.0,3.0,5.0;
    -fx-background-insets: 0.0,1.0,2.0,0.0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12.0px;
    -fx-padding: 10.0 20.0 10.0 20.0;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0.0,0.0,0.0,0.9) , 1.0, 0.0 , 0.0 , 1.0 );
}

.tab-pane
{
    -fx-tab-min-width:90.0px;
    -fx-tab-min-height:30.0px;
    -fx-background-color: #FFFFFF;
}

.tab{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
}
.tab-pane .tab
{
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(114.0,131.0,148.0,0.9), rgba(255.0,255.0,255.0,0.0));

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow( one-pass-box , rgba(0.0,0.0,0.0,0.9) , 1.0, 0.0 , 0.0 , 1.0 );
}